# Database Configuration (Turso / LibSQL or Serverless SQLite)
DATABASE_URL="file:./dev.db"
# TURSO_AUTH_TOKEN="" # Optional if using hosted Turso LibSQL

# NextAuth Configuration
NEXTAUTH_SECRET="koshin_super_secret_jwt_token_2026_vercel"
NEXTAUTH_URL="https://your-project.vercel.app"

# EmailJS Verification Service
EMAILJS_SERVICE_ID="service_dvicy8b"
EMAILJS_TEMPLATE_ID="template_ii8om4m"
EMAILJS_PUBLIC_KEY="JtOjDhYRDchP6rMsp"
EMAILJS_PRIVATE_KEY="3DBluqZ82gt07QMd7TYP9"

# Firebase Credentials
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBnDDIfx3rR9l0ZFpA1GrXRy4Wq9RyM8Pk"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="koshin-d513a.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="koshin-d513a"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="koshin-d513a.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="589259934585"
NEXT_PUBLIC_FIREBASE_APP_ID="1:589259934585:web:8bf6d2273541674f177da8"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-FD66MDY0DJ"
